{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
    Cart
{% endblock title %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'shop:landing_page' %}">Shop</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated and user.get_username == "admin@work.com"%}
                            <li class="nav-item mr-4">
                                <a href="/admin" class="nav-link p-0">Admin Panel</a>
                            </li> 
                        {% endif %}
                        <li class="nav-item">
                            <a href="#" class="nav-link p-0">Group 2</a>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav>

        <section class="mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="dropdown py-1">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Categories</button>
                            <div class="dropdown-menu">
                                {% for category in categories %}
                                    <a class="dropdown-item" href="{% url 'shop:category_list_page' category.1 %}">{{ category.0 }}</a>
                                {% endfor %}
                            </div>
                        </div> 
                    </div> <!--col-->
                    <div class="col-6">
                        <form method="GET" action="{% url 'shop:search_page' %}" class="py-1">
                            <div class="input-group w-100">
                                <input type="text" id="search_input" name="search_input" class="form-control" size="50">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!--col-->
                    <div class="col-3 d-flex justify-content-end">
                        <div class="row py-1">
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button id="dropdownMenuLink" class="btn btn-link p-0" data-toggle="dropdown">
                                        <div class="text-dark">
                                            <i class="text-primary icon-sm fa fa-user"></i> Account <i class="fa fa-caret-down"></i>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <a class="dropdown-item" href="#">Profile</a>
                                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url 'users:login' %}">Login</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div> <!--col-->
                            <div class="col-auto">
                                <a href="{% url 'cart:cart_detail_page' %}">
                                    <div class="text-dark">
                                        <i class="text-primary icon-sm fa fa-shopping-cart"></i> Cart
                                    </div>
                                </a>
                            </div> <!--col-->
                        </div> <!--row-->
                    </div> <!--col-->
                </div> <!--row-->
            </div> <!--container-->
        </section>
    </header>
{% endblock header %}

{% block content %}
    {% comment %} <h1>Buying Again</h1>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
        <a href="{% url "orders:order_create" %}" class="button">
            Checkout
        </a>
    </p> {% endcomment %}

    <section class="mb-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <h1>Your Cart</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Remove</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <tr>
                                        <td>
                                            <a href="{{ product.get_absolute_url }}">
                                                <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image_256x256.png" %}{% endif %}">
                                            </a>
                                        </td>
                                        <td>{{ product.name }}</td>
                                        <td>
                                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ item.update_quantity_form.quantity|as_crispy_field }}
                                                {{ item.update_quantity_form.update|as_crispy_field }}
                                                <input type="submit" value="Update" class="btn btn-primary">
                                            </form>
                                        </td>
                                        <td><a href="{% url "cart:cart_remove" product.id %}" class="btn btn-danger">Remove</a></td>
                                        <td><i class="fa fa-inr"> <span class="text-monospace" style="font-size: 1.2rem;">{{ item.price }}</span></i></td>
                                        <td><i class="fa fa-inr"> <span class="text-monospace" style="font-size: 1.2rem;">{{ item.total_price }}</span></i></td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                            <tr class="total">
                                <th scope="row">Total</th>
                                <td colspan="4"></td>
                                <td><i class="fa fa-inr"> <span class="text-monospace" style="font-size: 1.2rem;">{{ cart.get_total_price }}</span></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {% if recommended_products %}
        <section class="mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>People who bought this also bought</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% for product in recommended_products %} 
                            <div class="col-auto px-2 py-2">
                                <div class="card" style="width: 16.8rem; height: 25rem;">
                                    <img src="{% if product.small_image %}{{ product.small_image.url }}{% else %}{% static "img/no_image_256x256.png" %}{% endif %}" class="card-img-top">
                                    <div class="card-body">
                                        <h3 class="card-title"><a href="{{ product.get_absolute_url_visit_1 }}">{{ product.name.title }}</a></h3>
                                        <p class="card-text"><i class="fa fa-inr"> <span class="h4">{{ product.price }}</span></i></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="mb-5">
        <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight">
                <a href="{% url "orders:order_create" %}" class="btn btn-success ml-2">Checkout</a>
                <a href="{% url "shop:product_list" %}" class="btn btn-secondary mr-2">Continue shopping</a>
            </div>
        </div>
    </section>
{% endblock %}