[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[packages]
django = "==2.*"
certifi = "*"
chardet = "*"
django-countries = "*"
django-crispy-forms = "*"
pillow = "*"
python-decouple = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
sqlparse = "*"
stripe = "*"
urllib3 = "*"
redis = "*"
celery = "*"
django-rest-framework = "*"

[scripts]
start = "python3 manage.py runserver"
create-app = "python3 manage.py startapp"
make-migrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate"
setup-recommender = "python3 setup.py"
create-user = "python3 manage.py createsuperuser"
help = "python3 manage.py --help"

[requires]
python_version = "3.7"
