[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
django = "==2.*"
certifi = "*"
chardet = "*"
defusedxml = "*"
django-allauth = "*"
django-countries = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
idna = "*"
oauthlib = "*"
pillow = "*"
pycodestyle = "*"
python-decouple = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
sqlparse = "*"
stripe = "*"
urllib3 = "*"
redis = "*"
celery = "*"

[scripts]
start = "python3 manage.py runserver"
create-app = "python3 manage.py startapp"
make-migrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate"
setup-recommender = "python3 setup.py"

[requires]
python_version = "3.7"
