{% extends "base.html" %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Shop{% endif %}
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'shop:landing_page' %}">Shop</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Group 2</a>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="dropdown py-1">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Categories</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Laptop</a>
                                <a class="dropdown-item" href="#">Desktop & All-in-One PC</a>
                                <a class="dropdown-item" href="#">Gaming</a>
                            </div>
                        </div> 
                    </div> <!--col-->
                    <div class="col-6">
                        <form action="#" class="py-1">
                            <div class="input-group w-100">
                                <select class="custom-select" name="category_name">
                                    <option value="all">All</option>
                                    <option value="popular">Popular</option>
                                    <option value="latest">Latest</option>
                                </select>
                                <input type="text" class="form-control" style="width:50%;" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!--col-->
                    <div class="col-3 d-flex justify-content-end">
                        <div class="row py-1">
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown" data-offset="20,10">
                                        <div class="text-dark">
                                            <i class="text-warning icon-sm fa fa-user"></i> Account <i class="fa fa-caret-down"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu">
                                        <form class="px-4 py-3">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" class="form-control" placeholder="email@example.com">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                                <button type="submit" class="btn btn-primary">Sign in</button>
                                        </form>
                                        <hr class="dropdown-divider">
                                        <a class="dropdown-item text-center" href="#">Have account? Sign up</a>
                                        <a class="dropdown-item text-center" href="#">Forgot password?</a>
                                    </div>
                                </div>
                            </div> <!--col-->
                            <div class="col-auto">
                                <a href="#">
                                    <div class="text-dark">
                                        <i class="text-warning icon-sm fa fa-shopping-cart"></i> Cart
                                    </div>
                                </a>
                            </div> <!--col-->
                        </div> <!--row-->
                    </div> <!--col-->
                </div> <!--row-->
            </div> <!--container-->
        </section>
    </header>
{% endblock header %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:landing_page" %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <br>
        <a class="btn btn-warning" href="{% url "shop:product_list" %}">My Purchases</a>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <div class="col-lg-5">
                    {% comment %} <a href="{{ product.get_absolute_url_visit_1 }}">
                        <img style="height: 200px; width: 200px;" src="
                                {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a> {% endcomment %}
                    <a href="{{ product.get_absolute_url_visit_1 }}">{{ product.name.title }}</a><br>
                    ₹{{ product.price }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}