{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'shop:landing_page' %}">Shop</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link p-0">Group 2</a>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav>

        <section class="mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="dropdown py-1">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Categories</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Laptop</a>
                                <a class="dropdown-item" href="#">Desktop & All-in-One PC</a>
                                <a class="dropdown-item" href="#">Gaming</a>
                            </div>
                        </div> 
                    </div> <!--col-->
                    <div class="col-6">
                        <form action="#" class="py-1">
                            <div class="input-group w-100">
                                <input type="text" id="search_input" class="form-control" size="50">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!--col-->
                    <div class="col-3 d-flex justify-content-end">
                        <div class="row py-1">
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button id="dropdownMenuLink" class="btn btn-link p-0" data-toggle="dropdown">
                                        <div class="text-dark">
                                            <i class="text-primary icon-sm fa fa-user"></i> Account <i class="fa fa-caret-down"></i>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <a class="dropdown-item" href="#">Profile</a>
                                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{%url 'users:login'%}">Login</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div> <!--col-->
                            <div class="col-auto">
                                <a href="{% url 'cart:cart_detail' %}">
                                    <div class="text-dark">
                                        <i class="text-primary icon-sm fa fa-shopping-cart"></i> Cart
                                    </div>
                                </a>
                            </div> <!--col-->
                        </div> <!--row-->
                    </div> <!--col-->
                </div> <!--row-->
            </div> <!--container-->
        </section>
    </header>
{% endblock header %}

{% block content %}
    {% comment %} <div class="product-detail">

        <div class="row" style="margin-left: 25px;">
            {# Proceed to Checkout directly if Buy #}
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to Cart" class="btn btn-danger">
            </form>
            <a href="{% url "orders:order_create" %}" class="btn btn-success" style="margin-left: 10px">
                Checkout
            </a>
        </div>
        {{ product.description|linebreaks }}
        {#        <a href="{% url "shop:service_page" %}" type="submit" class="btn btn-success">#}
        {#            Service Products#}
        {#        </a>#}
        {#        <a href="{% url "shop:support_page" %}" type="submit" class="btn btn-success">#}
        {#            Support Services#}
        {#        </a>#}
    <div>
        <h1>Reviews</h1>
        {% for review in reviews %}
            <p>{{ review.user }}</p>
            <p>{{ review.review }}</p>
        {% endfor %}
    </div>
    </div> {% endcomment %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <img src="{% if product.large_image %}{{ product.large_image.url }}{% else %}{% static "img/no_image_512x512.png" %}{% endif %}">
                </div>
                <div class="col-6 offset-1">
                    <div class="row">
                        <h1 class="display-3">{{ product.name }}</h1>
                    </div>
                    <div class="row">
                        <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
                    </div>
                    <div class="row mt-4">
                        <p class="price"><i class="fa fa-inr" style="font-size: 1.5rem"> <span style="font-size: 2rem;">{{ product.price }}</span></i></p>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_add_product_form|crispy }}
                            </form>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <a href="{% url "orders:order_create" %}" class="btn btn-success">Checkout</a>                            
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 p-0">
                            {{ description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}