{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'shop:landing_page' %}">Shop</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated and user.get_username == "admin@work.com"%}
                            <li class="nav-item mr-4">
                                <a href="/admin" class="nav-link p-0">Admin Panel</a>
                            </li> 
                        {% endif %}
                        <li class="nav-item">
                            <a href="#" class="nav-link p-0">Group 2</a>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav>

        <section class="mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="dropdown py-1">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Categories</button>
                            <div class="dropdown-menu">
                                {% for category, info in categories %}
                                    <a class="dropdown-item" href="{% url 'shop:category_list_page' category_slug=info.0 %}">{{ category }}</a>
                                {% endfor %}
                            </div>
                        </div> 
                    </div> <!--col-->
                    <div class="col-6">
                        <form action="#" class="py-1">
                            <div class="input-group w-100">
                                <input type="text" id="search_input" class="form-control" size="50">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> <!--col-->
                    <div class="col-3 d-flex justify-content-end">
                        <div class="row py-1">
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button id="dropdownMenuLink" class="btn btn-link p-0" data-toggle="dropdown">
                                        <div class="text-dark">
                                            <i class="text-primary icon-sm fa fa-user"></i> Account <i class="fa fa-caret-down"></i>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <a class="dropdown-item" href="#">Profile</a>
                                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{%url 'users:login'%}">Login</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div> <!--col-->
                            <div class="col-auto">
                                <a href="{% url 'cart:cart_detail' %}">
                                    <div class="text-dark">
                                        <i class="text-primary icon-sm fa fa-shopping-cart"></i> Cart
                                    </div>
                                </a>
                            </div> <!--col-->
                        </div> <!--row-->
                    </div> <!--col-->
                </div> <!--row-->
            </div> <!--container-->
        </section>
    </header>
{% endblock header %}

{% block content %}
    <section class="mb-4">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <img class="img-fluid" src="{% if product.large_image %}{{ product.large_image.url }}{% else %}{% static "img/no_image_512x512.png" %}{% endif %}">
                </div>
                <div class="col-6 offset-1">
                    <div class="row">
                        <h1 class="display-3">{{ product.name }}</h1>
                    </div>
                    <div class="row">
                        <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
                    </div>
                    <div class="row mt-4">
                        <p class="price"><i class="fa fa-inr" style="font-size: 1.5rem"> <span style="font-size: 2rem;">{{ product.price }}</span></i></p>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_add_product_form|crispy }}
                                
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                             
                            </form>
                            
                        </div>
                        
                        <div class="col-3 d-flex align-items-center">
                            <a href="{% url "orders:order_create" %}" class="btn btn-success">Checkout</a>                            
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 p-0">
                            {{ description|safe }}
                        </div>
                    </div>
                    <!-- <div class="row">
                        <a href="{% url "shop:service_page" %}" class="btn btn-secondary mr-2">Service Products</a>
                        <a href="{% url "shop:support_page" %}" class="btn btn-secondary ml-2">Support Services</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <div class="container">
            <div class="row">
                <h1>Reviews</h1>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        {% for review in reviews %}
                            <li class="list-group-item">
                                <div>
                                    <h6 class="font-weight-bold font-italic">{{ review.user }}</h6>
                                    <p>{{ review.review }}</p>
                                </div>
                            </li>  
                         {% endfor %}              
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% if recommended_products %}
            <div class="recommendations">
                <h3>People who bought this also bought</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img style="height: 150px; width: 150px" src="{% if p.image %}{{ p.image.url }}
                        {% else %}
                            {% static "img/no_image.png" %}
                        {% endif %}">
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No Recommendations as of Now</p>
        {% endif %}
        {#        <a href="{% url "shop:service_page" %}" type="submit" class="btn btn-success">#}
        {#            Product Recommendations#}
        {#        </a>#}

{% endblock content %}