{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 vh-100 bg-primary text-light">
                <div class="mt-5">
                    <h1 class="display-1 text-right py-5">Welcome !</h1>
                    <h3 class="text-right mb-5">Login</h3>
                    <br/>
                    <p class="my-5 px-5">To view your account details and purchase history you need to login with your registered email and password. If you haven't created your account simply click on register.</p>
                    <br/>
                </div>
            </div>
            <div class="col-4 mx-auto my-auto">
                <form method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}
{#                    {{ form.as_p }}#}
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="someone@example.com" name="username">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="*********" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <a href="{% url 'users:register' %}" class="btn btn-secondary" role="button">Register</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}